@import url('bootstrap');
@import url('bootstrap-icons');

.product-img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.card_image {

    img {
        max-width: 100%;
    }
}